.area1 {
    background-color: #FEEEFE;
    display: flex;
    flex-wrap: nowrap;
    width: 100%; 
    padding-top: 50px;
    overflow-x: hidden;
    justify-content: center;
}

.text1 {
    margin-right: 100px;
}

.text1_1{
    font-size: 35px;
    font-weight: 700;
}

.text1_2{
    margin-top: 30px;
}

.image1{
    width: 400px;
    height: auto;
    margin-right: 0px;
}