.area1 {
    background-color: #FEEEFE;
    display: flex;
    flex-wrap: nowrap;
    width: 100%; 
    padding-top: 70px;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
}

.text1 {
    margin-right: 100px;
}

.text1_1{
    font-size: 50px;
    font-weight: 700;
}

.text1_2{
    margin-top: 30px;
}

.image1{
    width: 600px;
    height: auto;
    margin-right: 0px;
}

/*====================================*/

.area2 {
    display: flex;
    flex-wrap: nowrap;
    width: 100%; 
    padding-top: 70px;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
}

.image2{
    width: 600px;
    height: auto;
    margin-right: 0px;
}

.text2 {
    margin-left: 100px;

}

.text2_1{
    font-size: 50px;
    font-weight: 700;
}

.text2_2{
    margin-top: 30px;
}

.buttons1{
    padding-top: 30px;
    
}

.button1_1{
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 7px;
    cursor: pointer;
}

.button1_1:hover {
    background-color: #EADBC8;
}

.button1_2{
    margin-left: 20px;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.button1_2:hover {
    background-color: #EADBC8;
}

/*====================================*/

.area3 {
    background-color: #FEEEFE;
    display: flex;
    flex-wrap: nowrap;
    width: 100%; 
    padding-top: 70px;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
}

.image3{
    width: 470px;
    height: auto;
    margin-right: 0px;
}

.text3 {
    margin-right: 100px;
    
}

.text3_1{
    font-size: 50px;
    font-weight: 700;
}

.text3_2{
    margin-top: 30px;
}

.three_container{
    margin-top: 40px;
    display: flex;
}

.three_1{
    padding-right: 20px;
}

.three1_1{
    width: 50px;
    height: 50px;
}

.three1_2{
    font-weight: 600;
    font-size: 14px;
    padding-top: 10px;
}

.three1_3{
    font-size: 12px;
    padding-top: 10px;
}

/*====================================*/

.area4 {
    display: flex;
    flex-wrap: nowrap;
    width: 100%; 
    padding-top: 70px;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
}

.image4{
    width: 430px;
    height: auto;
    margin-right: 0px;
}

.text4 {
    margin-left: 150px;
}

.text4_1{
    font-size: 50px;
    font-weight: 700;
}

.text4_2{
    margin-top: 30px;
}

.buttons2{
    padding-top: 30px;
    
}

.button2_1{
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 7px;
    cursor: pointer;
}

.button2_1:hover {
    background-color: #EADBC8;
}

